<footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 footer_col">
          <div class="footer_contact">
            <h4>
              Reach at..
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Brindavan College,
                  Dwaraka Nagar, Bengaluru,
                  Karnataka 560064.
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +91 9980335967
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  rupesh4131@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="footer_social">
            <a href="https://shorturl.at/y7f7z">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://x.com/itz_mr_Rk_?s=09">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://shorturl.at/9V7lh">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://shorturl.at/ckdCy">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 footer_col">
          <div class="footer_detail">
            <h4>
              About
            </h4>
            <p>
              The Blood Bank Donor Management System is a web-based platform built with Python Django and MySQL to efficiently manage blood donations, donors, and requests. It connects donors and recipients through a secure and easy-to-use interface, allowing admins to track inventory, handle emergency needs, and manage donor data. Donors can register, view history, and get alerts, while recipients can request blood directly through the system.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto footer_col">
          <div class="footer_link_box">
            <h4>
              Quick Links
            </h4>
            <div class="footer_links">
              <a class="active" href="{% url 'index' %}">
                Home
              </a>
              <a class="" href="{% url 'aboutus' %}">
                About
              </a>
              <a class="" href="{% url 'contactus' %}">
                Contact Us
              </a>
              <a class="" href="{% url 'donor-list' %}">
                Donor List
              </a>
             
            </div>
          </div>
        </div>
      
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> Blood Bank and Donor Management System
         
        </p>
       
      </div>  
    </div>
  </footer>