{% extends 'userbase.html' %}
{% load static %}

{% block content %}
<section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'assets1/images/about-img.jpg'%}" height="300" width="200" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span>Us</span>
              </h2>
            </div>
            <p>
              At <strong>LifeLine Blood Bank</strong>, we believe that a single drop of blood can be the start of someone's second chance at life. 
              Our mission is to bridge the gap between donors and those in urgent need of blood through a secure, transparent, and user-friendly platform.
              Whether you're a regular donor, a first-time volunteer, or someone seeking help, our system makes it easier than ever to connect, communicate, and contribute. 
              Join us in building a stronger community — where every heartbeat counts, and every donor becomes a hero.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
